body {
  width: 600px;
  padding: 16px;

  background-color: #A9C9FF;
  /* background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); */
  

}

:root {
  --font: #414141;
  --underline: white;
}

.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #ffd500;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}


h1 {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color);
  transition: all 200ms ease-out;
}

h1:hover {
  font-size: 54px;
}

h1:hover ~ hr {
  width: 100%;
}


h1{
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #523b90;
  /* color: #aa00bd; */
  /* color: #db61c7; */
  font-size: 34px;
}

hr {
  width: 0px;
  height: 3px;
  background: var(--underline);
  border: var(--underline);
  margin: 0px;
  transition: width 450ms ease-out;
}


.title {
  margin-top: 0;
}

.topRules{
  margin-top:16px;
  margin-bottom: 10px;
}

.rules {
  margin-top:32px;
  margin-bottom: 10px;
}

.field-group {
  display: flex;
  flex-direction: column;
}

.field-group:not(:last-child) {
  margin-bottom: 16px;
}


label {
  font-weight: bold;
  margin-bottom: 4px;
}

p {
  margin: 0 0 4px 0;
}

input {
  width: 500px;
  padding: 4px;
}

.portInput{
  width: 350px;
}

.portLabel{
  display: flex;
  align-items: center;
}

select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-color: #f7f7f7;
  text-overflow: ellipsis;
}

.actions {
  display: flex;
  justify-content: center;
  /* margin: 40px -2px 0 -2px; */
}



button {
  /* background-color: #523b90; */
  background-color: #523b90;
  color: #ffffff;
  /* box-shadow: 0 3px 5px #dddddd; */
  outline: none;
  border: 1px solid #523b90;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 0 2px;
  flex: 1;
  cursor: pointer;
}

/* .transferButton{
  background-color: #ffffff;
  color: #523b90;
} */

.hoverButton:hover{
  background-color: #3c11b1;
  color: white;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* button:not(:disabled):hover {
  background-color: #523b90;
  color: white;
} */

.error {
  display: none;
  color: #d32f2f;
  margin-top: 2px;
  font-size: 90%;
}

.show {
  display: block ;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #A9C9FF 100%);
  
  

  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.flex{
  display: flex;
}

.panelInside{
  margin-top: 4px;
  display: grid;

  gap: 10px;
}

.startUpCheckBox{
  width: auto !important;
}

.startupSubmit{
  margin-top: 10px;;
}